services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: server
    ports:                    # ← ДОБАВЬ ЭТО!
      - "8000:8000"
    command: ["uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8000"]
    env_file:
      - backend/.env

  agent:
    build:
      context: ./backend
      dockerfile: Dockerfile.agent # отдельный Dockerfile для агента
    container_name: livekit-agent
    env_file:
      - backend/.env
    ports:
      - "4000:4000"  # LiveKit Agent порт
    restart: unless-stopped
    depends_on:
      - api
    deploy:
      resources:
        limits:
          memory: 16G     # ← 4GB для Silero + LiveKit!
          cpus: '4.0'     # 2 CPU
        reservations:
          memory: 4G
    environment:
      - LIVEKIT_AGENT_MAX_MEMORY_MB=16384  # убираеdcoт warning
      - TORCH_BACKEND=none                # убирает NNPACK spam
    volumes:
      - ./backend/logs:/agent/logs
  qwen:
    build:
      context: ./backend
      dockerfile: Dockerfile.qwen
    container_name: qwen-tts
    environment:
      - TORCH_BACKEND=none
    restart: unless-stopped
    runtime: nvidia
    deploy:
      resources:
        limits:
          memory: 32G       # realistic host RAM for your container
          cpus: '4.0'
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    depends_on:
      - api
    volumes:
      - ./backend/qwen/Qwen3-TTS-Tokenizer-12Hz:/app/qwen/Qwen3-TTS-Tokenizer-12Hz